<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/c7dc2681c9.js" crossorigin="anonymous"></script>

    <title>Lugares</title>
</head>
<body>

    <div class="head">

        <div class="logo">
            <a href="img/logo.jpeg"> Villatrip</a>
        </div>

        <nav class="navbar">  
            <a href="inicio.html"> Inicio</a>
            <a href="nosotros.html"> Nosotros</a>
            <a href="contacto.html"> Contacto</a>
            <a href="lugares.html"> Lugares</a>
        </nav>
    </div>
<section class="content sau">
    <h2 class="title">Lugares</h2>
    <p>
       Conocida como la "Puerta del Llano". Villavicencio es reconocida por su riqueza cultural, su folclore llanero y su importante papel como centro comercial y económico en la región, cuenta con una combinación de paisajes naturales impresionantes, como montañas, ríos y llanuras extensas, lo que la convierte en un destino atractivo para los amantes de la naturaleza y el ecoturismo. Villavicencio ofrece una gran variedad de festivales y eventos culturales, donde se puede disfrutar de música, danzas y gastronomía típica de la región. Con su clima cálido y su acogedora hospitalidad, Villavicencio ofrece a los visitantes una experiencia única en el corazón de los Llanos Orientales.
    </p>

    
    <div class="box-container">

        <div class="box">
        <i class="fa-regular fa-heart"></i>
        <h3><a href="https://www.youtube.com/watch?v=NHlZ6d9zD_Q"> Piedra del Amor</a></h3>
        <p>Es un lugar emblemático que ofrece una vista panorámica impresionante y cuenta con una formación rocosa en forma de corazón. </p>
        </div>

        <div class="box">
        <i class="fa-solid fa-tree"></i>
        <h3><a href="https://www.youtube.com/watch?v=MIX7pe1ixoQ"> Parque de los Fundadores</a></h3>
        <p>Es un espacio público que rinde homenaje a los fundadores de la ciudad y ofrece un ambiente tranquilo y agradable para residentes y visitantes. Cuenta con amplias zonas verdes, áreas de descanso, esculturas y monumentos históricos, así como espacios para eventos culturales y recreativos. Es un lugar popular para pasear, relajarse y disfrutar de la belleza natural y la historia de la ciudad. </p>
        </div>
            
        <div class="box">
        <i class="fa-solid fa-hat-cowboy-side"></i>
        <h3><a href="https://www.youtube.com/watch?v=-55ndO4LjsY"> Las Malocas</a></h3>
        <p>Es un complejo turístico y recreativo que ofrece diversas actividades y atracciones para todas las edades. Con extensas áreas verdes, zonas de juegos infantiles, espacios deportivos y senderos para caminar, brinda oportunidades para disfrutar de la naturaleza y relajarse al aire libre. Destaca por su espectáculo de la "Llaneridad", que muestra la cultura y tradiciones llaneras. </p>
        </div>

        <div class="box">
        <i class="fa-brands fa-shopify"></i>
        <h3><a href="https://www.youtube.com/watch?v=3FfNWtmlLag"> Primavera Urbana</a></h3>
        <p>Es un moderno y completo centro comercial que ofrece una amplia selección de tiendas, opciones gastronómicas y entretenimiento. Con marcas reconocidas, una zona de comidas con restaurantes y cafeterías, salas de cine y áreas de juegos, brinda una experiencia de compra y ocio integral. Es el lugar ideal para disfrutar de compras, comida y diversión en un entorno cómodo y contemporáneo. </p>
        </div>

        <div class="box">
            <i class="fa-solid fa-champagne-glasses"></i>
            <h3><a href="https://www.youtube.com/watch?v=ZxPVYtAlvLM"> Capachos</a></h3>
            <p>Es un lugar popular para los amantes de la música y el baile. Con una vibrante atmósfera y un ambiente festivo, Capachos ofrece una experiencia única de vida nocturna. Con su amplia pista de baile, luces brillantes y un sonido envolvente, es el destino ideal para disfrutar de diferentes géneros musicales y ritmos. La discoteca atrae a una variedad de personas, desde los jóvenes que buscan divertirse hasta los amantes de la música que desean bailar toda la noche. Con su energía contagiosa y su ambiente animado, Capachos es un lugar donde se crea un ambiente de fiesta y diversión hasta altas horas de la madrugada. </p>
            </div> 

        <div class="box">
        <i class="fa-solid fa-otter"></i>
        <h3><a href="https://www.youtube.com/watch?v=dk_tKAajE7I"> Bioparque Los ocarros</a></h3>
        <p>Es un increíble santuario de vida silvestre que ofrece una experiencia única para los amantes de la naturaleza. Con una extensión de terreno dedicada a la conservación y protección de especies autóctonas, este parque cuenta con una gran variedad de animales, incluyendo jaguares, caimanes, monos, aves y más. Los visitantes pueden recorrer senderos naturales, observar a los animales en su hábitat natural y aprender sobre la importancia de la conservación. Además, el Bioparque Los Ocarros ofrece actividades educativas y recreativas para toda la familia, como espectáculos de aves rapaces y talleres interactivos. Es un lugar ideal para aprender sobre la biodiversidad de la región y disfrutar de la belleza natural en un entorno seguro y emocionante. </p>
        </div>      
    </div>

    </body>
</html>